/* @theme-factory-generated */
html.app-theme-__NAME__ .t-Body {
  background: var(--app-surface-page);
  color: var(--app-text-primary);
  font-family: var(--app-font-family-body);
}

html.app-theme-__NAME__ .t-Header,
html.app-theme-__NAME__ .t-Body-nav {
  background: var(--app-surface-chrome);
  color: var(--app-text-primary);
  border-color: var(--app-border-color);
}
