/* profile: forms-outlined */
html.app-theme-__NAME__ .apex-item-text,
html.app-theme-__NAME__ .apex-item-select,
html.app-theme-__NAME__ .apex-item-textarea {
  border-width: var(--app-border-width);
  background: var(--app-surface-page);
}
