/* profile: forms-soft */
html.app-theme-__NAME__ .apex-item-text,
html.app-theme-__NAME__ .apex-item-select,
html.app-theme-__NAME__ .apex-item-textarea {
  border-color: var(--app-surface-subtle);
  background: var(--app-surface-subtle);
}
