/* profile: navigation-editorial */
html.app-theme-__NAME__ .t-TreeNav .a-TreeView-content {
  border-block-end: var(--app-border-width) solid var(--app-border-color);
  border-radius: var(--app-radius-sm);
}
