-- APEX_THEME_FACTORY_MANAGED:BEGIN:SWITCHER_NAV_ENTRY
entry __THEME_NAME__ (
    label: "__THEME_TITLE__"
    sequence: __SEQUENCE__
    parentEntry: "theme-factory-switcher-parent"
    link {
        target: {
            type: url
            url: "javascript:void(0);"
        }
    }
)
-- APEX_THEME_FACTORY_MANAGED:END:SWITCHER_NAV_ENTRY
