/* --comment-fake-token: #ff00ff; */
:root {
  --ut-palette-primary: #05668d;
  --a-palette-primary: var(--ut-palette-primary);
  --a-button-text-color: var(--ut-palette-primary, #004466);
  --a-orphan-text-color: #161513;
}

:root {
  --a-button-background-color: rgb(255, 255, 255);
}

html {
  --oj-core-text-color-primary: var(--ut-body-text-color, #161513);
}

.string-decoy {
  content: "--string-fake-token: #ffffff;";
}

.escaped-string {
  content: "\\\\";
}

@media (min-width: 40rem) {
  .a-CardView {
    --a-card-background-color: #ffffff;
  }
}
